/* preface */
@font-face {
  font-family: "Gafata";
  src: local("Gafata"), url("./assets/font/Gafata-Regular.ttf");
}
@font-face {
  font-family: "Neuton-Light";
  src: local("Neuton-Light"), url("./assets/font/Neuton-Light.ttf");
}
@font-face {
  font-family: "RobotoSlab";
  src: local("RobotoSlab"), url("./assets/font/RobotoSlab.ttf");
}

.external-link {
  color: #88ccf1;
  border-bottom: solid 1px #88ccf1;
  text-decoration: none;
}

.external-link:visited {
  color: #3587a4;
  border: solid 1px #3587a4;
}

.internal-link {
  color: #d6f188;
  border-bottom: dashed 1px #d6f188;
  text-decoration: none;
}

@media (max-width: 600px) or (max-height: 725px) {
  .desktop-only-perso {
    display: none;
  }
}
@media (min-width: 600px) and (min-height: 725px) {
  .mobile-only-perso {
    display: none;
  }
}

body {
  font-family: Neuton-Light;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
  color: #ebb5f3;
  letter-spacing: 1.1pt;
  line-height: 30px;
}
.text-brand {
  color: #a2aa33 !important;
}
.bg-brand {
  background: #a2aa33 !important;
}
